<div class="slider w-[1280px] h-[500px] mt-[50px] mx-auto overflow-hidden relative border rounded-lg border-white shadow-[-5px_10px_15px_1px_black]">
    <ul class="flex p-0 w-[400%] animate-slide ">
      <li class="w-[25%] list-none "><img class="w-[100%] h-[58%] object-cover object-center" src="assets/carrousel1.jpg" alt="Restaurant 1"></li>
      <li class="w-[25%] list-none"><img class="w-[100%] h-[58%] object-cover object-center" src="assets/carrousel2.jpg" alt="Restaurant 2"></li>
      <li class="w-[25%] list-none"><img class="w-[100%] h-[58%] object-cover object-center" src="assets/carrousel3.jpg" alt="Restaurant 3"></li>
      <li class="w-[25%] list-none"><img class="w-[100%] h-[58%] object-cover object-center" src="assets/carrousel4.jpg" alt="Restaurant 3"></li>
    </ul>
</div>

